.main_nav_div {
  z-index: 5;
}

.top_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sideBoth);
  height: 80px;
}

.green {
  background-color: var(--green);
}

.gray {
  background-color: var(--gray);
}

.logo_nav {
  text-decoration: none;
  font-size: 2.6rem;
  line-height: 3.90rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}

.logo_nav span {
  font-size: 3.8rem;
  font-weight: 800;
  color: var(--orange);
}

.top_menu_text {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.top_menu_text:hover {
  color: var(--orange);
}

.unOrder_list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unOrder_list li {
  padding: 0 15px;
}

.menu_bar {
  font-size: 3rem;
  color: var(--white);
}

.mobile_menu {
  display: none;
}

.status_bar {
  display: none;
}

@media only screen and (max-width: 768px) {

  .main_nav_div {
    position: fixed;
    width: 100%;
    height: auto;
  }

  :root {
    --sideBoth: 0 30px;
  }

  .mobile_menu {
    display: block;
  }

  .menu_hidden_res {
    display: none;
  }

  .unOrder_list {
    display: grid;
    height: auto;
    width: 100%;
    justify-content: center;
    background-color: var(--gray);
    text-align: center;
    padding: 50px 0;
  }

  .unOrder_list li {
    padding: 8px 0;
  }

  .unOrder_list .title_3 {
    color: var(--orange);
  }

  .status_bar {
    display: block;
  }
}


@media only screen and (max-width: 576px) {
  .top_nav {
    height: 50px;
  }
}