.booking_main_form {
  padding: 50px 100px 0 100px;
  height: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  height: auto;
}

.booking_main_form .title_2 {
  text-align: center;
}

.booking_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 50px;
  background-color: var(--white);
  border-radius: 20px;
  color: var(--gray);
  margin: 20px 0;
}

.booking_form div {
  width: 100%;
}

.select_field {
  border: none;
  border-bottom: 1px solid var(--gray);
  background-color: transparent;
  font-size: 2.2rem;
  padding: 10px 0;
  color: var(--gray);
}

.select_field:{
  color: var(--gray);
}

.select_field:focus {
  outline: none;
  color: var(--gray);
}

.booking_form .select_field {
  width: 100%;
}

.booking_btn {
  text-decoration: none;
  background-color: var(--green);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--white);
  padding: 12px;
  border: none;
}

.booking_btn:hover {
  background-color: var(--orange);
  color: var(--gray);
}

@media only screen and (max-width: 1200px) {
  .booking_form {
    grid-template-columns: repeat(2, 1fr);
  }

  .booking_main_form {
    padding: 50px 80px;
  }
}

@media only screen and (max-width: 768px) {
  .booking_main_form {
    padding: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .booking_form {
    grid-template-columns: repeat(1, 1fr);
  }
}