.footer_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--sideBoth);
  height: 20vh;
  min-height: 20vh;
  border-top: 1px solid var(--gray);
  margin-bottom: 150px;
}

.footer_menu {
  list-style-type: none;
}