.footer_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background-color: var(--green);
  width: 100%;
  padding: 100px 100px 250px 100px;
}

.footer_menu {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {

  .footer_div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}