.hero_div {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  padding: var(--sideBoth);
  background-color: var(--green);
  background-image: url("../../../assets/HeroSection.png"), linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.hero_div .title_1 {
  padding-bottom: 80px;
  color: var(--white);
}

.hero_div .title_1 span{
  color: var(--orange);
}

.hero_div .para_1 {
  color: var(--white);
  padding-bottom: 50px;
}

.hero_img_div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero_img_div img {
  width: 100%;
}

.icons_text_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero_icons_text {
  display: flex;
  text-align: left;
  align-items: center;
}

.hero_icons_text div {
  margin-left: 10px;
}