.single_service_page {
  text-align: center;
  padding: var(--sideBoth);
}

.single_service_page .title_2 {
  padding: 50px 0;
}

.single_img_div {
  width: 100%;
  height: 100%;
}

.single_img_div img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
}

.single_service_page .para_2 {
  padding: 50px 0;
}

.single_service_page .para_2 span {
  color: var(--orange);
}

.add_review .field_input {
  margin: 50px 0;
}

.service_rev {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 30px 0;
}

.service_rev div {
  margin-left: 30px;
}

.review_sin_div {
  display: grid;
  align-items: center;
  text-align: left;
}

.service_rev img {
  border-radius: 50%;
}

.service_btn {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  padding: 10px 22px;
  background-color: var(--gray);
  border-radius: 5px;
  border: none;
}

.service_btn:hover {
  background-color: transparent;
  color: var(--gray);
  border: 2px solid var(--gray);
}

.service-details-link{
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.service-details-link:hover{
  text-decoration: none;
}