:root {
  /* color */
  --orange: #FF8A00;
  --yellow: #F7DC68;
  --green: #2C6C5E;
  --purple: #A7226F;
  --gray: #212226;
  --white: #e0e0e0;

  /* gaps */
  --sideBoth: 0 100px;

  /* font size */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* fonts */

.title_1 {
  font-size: 9.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 82px;
}

.title_2 {
  font-size: 6.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;

}

.title_3 {
  font-size: 2.6rem;
}

.para_1 {
  font-size: 2.8rem;
}

.para_2 {
  font-size: 2.2rem;
}

.para_3 {
  font-size: 1.6rem;
}

.para_4 {
  font-size: 1.4rem;
}

.menu_text {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--gray);
  font-weight: 600;
  font-family: 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 2px;
}

.menu_text:hover {
  color: var(--orange);
}

.orangeBtn {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray);
  padding: 14px 26px;
  background-color: var(--orange);
  border-radius: 5px;
}

.orangeBtn:hover {
  background-color: var(--gray);
  color: var(--white);
}

.text_link {
  text-decoration: none;
  color: var(--orange);
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.outline_btn {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--gray);
  font-weight: 600;
  border: 2px solid var(--gray);
  padding: 8px 0;
}

.outline_btn:hover {
  color: var(--white);
  background-color: var(--gray);
}

.align_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align_btn_icon .icon_ofBtn {
  font-size: 3.8rem;
  margin-right: 10px;
}

.align_loader_center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--orange);
  transform-origin: 0%;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 992px) {
  :root {
    --sideBoth: 0 50px;
  }

  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 576px) {
  html {
    font-size: 35%;
  }
}
